body{
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content:space-between;
    padding: 10px;
}

.container{
    background: red;
    width: 90%;
    height: 100%;
}

header .firstnav{
    display: flex;
    justify-content: space-between;
    height: 3vh;
    
    align-items: center;
    padding: 30px;
    background-color: rgb(3, 42, 42);
}

.firstnav .left ul #spacelink a{
    color: green;
}
.firstnav .left ul #space{
    border-right: 3px solid white;
    padding-right: 10px;
}

select{
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 700;
    margin-right: 20px;
}

select option{
    background: black;
    size: 10px;
}


header .secondnav{
    display: flex;
    justify-content: space-between;
    height: 8vh;
    
    align-items: center;
    padding: 10px;
    background-color: white;
}

.secondnav .left{
    display: flex;
}

.secondnav .left ul a{
    color: #0f0f0f;
    padding: 10px;
}

.secondnav .left img{
    padding-top: 10px;
    height: 30px;
    margin-right: 30px;
    margin-left: 50px;
}

.secondnav .left input{
    border-radius: 20px;
    border-color:#989795b4;
    height: 40px;
    margin: 10px;
}

.secondnav .left ul{
    list-style: none;
    display: flex;

    width: 100%;
    justify-content:space-between;
    padding: 10px;
    margin: 10px;
}



.secondnav .right button{
    margin-right: 100px;
    background-color: green;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 50px;
}

main{
    height: 90vh;
    width: 100%;
    background: url(img/background.png);
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

form{
    background-color: rgb(243, 243, 243);
    width: 500px;
    height: 600px;
    margin: 100px;
    border-radius: 10px;
    border-style:double;
    display: flex;
    flex-direction: column;
    
}

form h2{
    text-align:center
}

form label{
   text-align: left;
   margin: 10px;
   margin-bottom: 5px;

}

form input{
    text-align: left;
    margin: 10px;
    margin-bottom: 50px;
    height: 30px;
    border-radius: 10px;
    border-color: rgb(233, 229, 229);
    padding: 10px;;

}

button:hover{
    cursor: pointer;
}

form #forget{
    border: none;
    color: blue;
    width: auto;
    text-align: right;
    margin-right: 15px;
    margin-left: auto;
}

form #login, #count{
    background-color: #cdcdcd;
    width: 90%;
    height: 50px;
    align-self: center;
    margin-top: 15px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: large;

}

form #count{
    color: red;

}

.social-login {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.social-login button {
    flex: 1;
    padding: 10px 20px;
    margin: 15px;
    border-radius: 5px;
    border: 2px solid;
    border-color: #00000033;
    color: black;
    font-size: 1rem;
}

.social-login button img{
    margin-right: 10px;
}